name: Swift

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v2
    - name: Install Cocoapods
      run: exec pod install
      
    - name: Force Xcode 12
      run: sudo xcode-select -switch /Applications/Xcode_12.2.app

    - uses: michaelhenry/deploy-to-cocoapods-github-action@1.0.9
      env:
        COCOAPODS_TRUNK_TOKEN: ${{ secrets.COCOAPODS_TRUNK_TOKEN }}
        
    - name: Build Swift package 
      run: exec ./.github/scripts/build_package.sh
      
    - name: Build
      run: exec ./.github/scripts/build.sh

